[2022-04-13 10:51] okozachenko1203 opened #14 "Add Magnum role"

[2022-04-13 13:10] mnaser opened #13 "Add role for Octavia"

[2022-04-13 18:41] Meritadev opened #15 "Adding limits for all pods"
We recently experienced OOM on controllers by the fact that's a small cloud, when we got one of the nodes out of the cluster, pods were rescheduled to other controllers causing another sequence of OOM.

we should implement limits on pods to avoid that.

[2022-04-13 19:08] mnaser opened #10 "Add TLS support for libvirt"
We should generate client and server certificates for libvirt and distribute those accordingly, perhaps even build an internal CA that we use for this use-case specifically inside using cert-manger.

[2022-04-13 19:29] mnaser opened #9 "Add reboot protection via molly-guard"

[2022-04-13 19:35] Meritadev opened #11 "Push all service logs to OpenSearch"
At the moment, once a pod dies, the logs are gone forever and they cannot be recovered anymore.  This is not good in the long term since it makes it very hard to troubleshoot things

We need to push logs into the ElasticSearch that we run.  I think the best way to do this is to start making sure that all systems push JSON logs, and then maybe run a fluent-bit side car that pushes all those JSON lo

[2022-04-13 19:42] Meritadev opened #12 "Add support for Manila"
We need to add support for Manila so customers can get NFS shares.

[2022-06-28 20:34] mnaser opened #16 "Implement tests to verify if new VMs are failing to go up"
At the moment, Tempest is currently able to tell us if we are failing to deploy inside the public network, however, we've had issues where the DHCP agent gets "stuck" and we have no idea of knowing if things are working or not inside the cloud.

I think we should implement https://github.com/albertodonato/query-exporter and get queries from the `instance_faults` tables in order to extract informat

[2022-07-07 14:56] okozachenko1203 opened #17 "Collect container logs in Atmosphere CI"
We are facing molecule converge failures frequently in Zuul CI without any reasonable errors in patches.
Once we collect all container logs after molecule converge, it will be helpful to find the root cause.

[2022-07-22 15:19] mnaser opened #8 "Allow for missing trusts for Magnum cluster deletion"
In the referenced issue, we are failing to delete a cluster because the trust is already gone, we should handle that exception and just pass through if it's already gone instead of failing because we can't delete something that already doesn't exist.

[2022-08-03 18:09] okozachenko1203 opened #7 "Set virt_type as qemu in molecule env"
https://review.opendev.org/c/vexxhost/ansible-collection-atmosphere/+/852045

[2022-08-16 21:45] mnaser opened #6 "Switch to ClusterAPI"
If we switch Atmosphere to cluster API, that cuts on all of our Kubernetes deployment code and it also makes it so that we don't actually need to maintain anything and it will also simplify upgrades, etc.

[2022-08-17 19:23] mnaser opened #5 "Switch health checks to `httpGet` for APIs"
In the case of some environments, Glance stopped responding but the socket was still open so the API was unhealthy and Kubernetes didn't restart anything.

We need to change all API services to start using `httpGet` instead of `tcpSocket` to ensure proper responses.

[2022-08-22 19:26] mnaser opened #3 "Introduce API rollouts for Ingress without downtime"
At the moment, we do run 3 instances of the ingress however if the active one goes down, keepalived can still be pointing to the node that has a downed ingress.

We should clean that up in a way so that any of the system can accept traffic and route it through the Kubernetes mesh.  Perhaps externalIP or something along those features that would allow us to do this.

[2022-08-23 18:05] ricolin opened #2 "Expose API average response time metrics"
This issue is for target and discuss on how we can expose API average response time metrics

[code]
[code]

[2022-08-26 19:34] mnaser opened #1 "Add monitoring for `vni*` interfaces"
The `vni*` and `vxlan*` interfaces are constantly one of the things that always cause us problems since they are sometimes down, and when they are down, we end up with problems in the network with the customer.

We should add monitoring to Atmosphere to make sure that interface is up, so that we can always check if it's up and alert if not.

The prometheus query should be the following:

[code]

W

[2022-08-29 18:32] mnaser opened #4 "`NodeSoftNetDrops` noisy alerts"
In several environments, that alarm does fire more than usual and it ends up causing problems with noisy alerts for no reason.  We should either find something more actionable from it or drop the alert.

[2022-08-29 18:51] mnaser opened #18 "Replace all references for opendev.org to GitHub.com"

[2022-08-30 05:06] mnaser opened #21 "Implement `pre-commit`"
https://pre-commit.com

This will be useful in order to make sure that commits are consistent.

- [ ] [conventional-pre-commit](https://github.com/compilerla/conventional-pre-commit)

[2022-08-31 21:46] mnaser commented on #21
This was already done.

[2022-08-31 21:46] #21 closed

[2022-09-01 03:13] mnaser opened #27 "Enable local mirroring or distributed cache for images"
The images are quite large for OpenStack and instead of downloading them one by one, we should setup a pull through cache that lives on the control plane which will allow for images to only be downloaded once and then transferred locally.

There are alternatives such as Dragonfly or Uber's Kraken but there are some concerns with that solution.

[2022-09-01 15:24] mnaser opened #28 "Add `rabbitmq` image build/sync"
At the moment, the `quay.io/vexxhost/rabbitmq:3.8.23-management` is manually updated.  We'll need to first of all make it a job that automatically sync's it but then also automatically bumps it up when needed.

[2022-09-01 15:56] mnaser opened #29 "OpenID connect + Keystone + large headers"
When using an OpenID connect provider that can potentially provide large headers, Keystone falls over at the ingress level:

[code]

We'll need to add the following annotation to the ingress:

[code]

based from https://github.com/oauth2-proxy/oauth2-proxy/issues/676

[2022-09-01 17:21] mnaser opened #31 "Add documentation for using internal CA"
There are use cases where users would want to use their own CA, such as in https://github.com/vexxhost/atmosphere/discussions/30.

We are already able to handle those cases today, however, there is no documentation to explain this.  We should update our documentation here:

https://github.com/vexxhost/atmosphere/blob/main/docs/certificates.md

In order to include another section on how to use a pr

[2022-09-01 22:59] #4 closed

[2022-09-02 05:25] okozachenko1203 commented on #5
merged

[2022-09-02 05:25] #5 closed

[2022-09-02 05:26] #7 closed

[2022-09-05 08:30] okozachenko1203 commented on #31
i am on it

[2022-09-05 13:29] #31 closed

[2022-09-05 13:31] guilhermesteinmuller opened #36 "Missing packages in glance image"
Currently, when we use cinder as a backend for glance images, the following traceback is raised:

[code]

This is possible due to missing packages inside glance images like `os_brick` and `python-cinderclient`

[2022-09-05 13:37] mnaser commented on #36
@guilhermesteinmuller

https://github.com/vexxhost/atmosphere/blob/main/ci/openstack-image-build-env

Could you add both those packages to PIP_PACKAGES?

[2022-09-05 13:48] guilhermesteinmuller commented on #36
sure will provide PR shortly

[2022-09-06 17:02] mnaser commented on #36
@guilhermesteinmuller I'm working on this since the image build process is currently a bit broken, working on it here and will push up a PR soon.

[2022-09-06 19:25] mnaser commented on #36
This is pending on https://github.com/vexxhost/atmosphere/pull/38

[2022-09-06 22:27] #36 closed

[2022-09-07 21:11] mnaser opened #42 "Switch all services to use UWSGI"
At the moment, the services are running the (very) inefficient version of their eventlet API endpoint.

We should flip over to uWSGI (or something using `mod_wsgi`) in order to be able to have a proper HTTP server that can scale to the demand.

[2022-09-08 13:45] runlevel-six opened #44 "OpenStack-Exporter Version"
I noticed that https://quay.io/repository/niedbalski/openstack-exporter-linux-amd64?tab=tags does not have a tag v1.6.0 which is the image and tag referenced in `roles/openstack-exporter/defaults/main.yml`. There is a v1.5.0 tag and that one works fine in the Atmosphere plays when I overwrite the variable.

[2022-09-08 16:45] mnaser commented on #44
👋 @runlevel-six

good catch, I've noticed that in my local environment with it crash looping.

[2022-09-08 16:47] mnaser commented on #44
It looks like the project has moved to using GitHub packages:

https://github.com/openstack-exporter/openstack-exporter/pkgs/container/openstack-exporter

[2022-09-08 17:19] #44 closed

[2022-09-08 20:07] mnaser opened #46 "Glance with Cinder backend"
There seems to be a list of outstanding issues when trying to use Glance with Cinder as a backend, this issue tracks all the outstanding issues:

- [x] https://github.com/vexxhost/atmosphere/issues/36
- [x] #47
- [ ] #48

[2022-09-08 20:08] mnaser commented on #46
The traceback for the other failure:

[code]

I think the issue here is that rootwrap is not configured for Glance.

[2022-09-08 20:11] mnaser commented on #46
I think we'll have to do something like this but for Glance:

https://github.com/openstack/openstack-helm/blob/3bc81054b0918678c5932663ea72821621280d5c/cinder/values.yaml#L628-L632
https://github.com/openstack/openstack-helm/blob/3bc81054b0918678c5932663ea72821621280d5c/cinder/templates/configmap-etc.yaml#L154
https://github.com/openstack/openstack-helm/blob/3bc81054b0918678c5932663ea72821621280d5

[2022-09-08 20:14] mnaser commented on #46
@guilhermesteinmuller leave this to me, I will work on a fix for this, it involves changing the Helm charts.

[2022-09-08 20:28] mnaser opened #47 "Update `[glance_store]/cinder_catalog_info=volumev3::internalURL` to avoid external API calls"

[2022-09-08 20:28] mnaser opened #48 "Resolve `oslo_privsep.daemon.FailedToDropPrivileges` exceptions"

[2022-09-08 20:34] mnaser commented on #48
For this, since we can't land it upstream in time, we're going to use a `postRenderer`:

https://fluxcd.io/flux/components/helm/helmreleases/#post-renderers

[2022-09-08 20:36] mnaser commented on #48
I think we'll have to do something like this but for Glance:

https://github.com/openstack/openstack-helm/blob/3bc81054b0918678c5932663ea72821621280d5c/cinder/values.yaml#L606-L610
https://github.com/openstack/openstack-helm/blob/3bc81054b0918678c5932663ea72821621280d5c/cinder/templates/configmap-etc.yaml#L154
https://github.com/openstack/openstack-helm/blob/3bc81054b0918678c5932663ea72821621280d5

[2022-09-08 20:41] mnaser commented on #48
Actually, we can probably totally grab the commit from OpenDev and use `GitRepository` resource with Flux.

[2022-09-09 02:23] #46 closed

[2022-09-09 02:23] #47 closed

[2022-09-09 02:23] #48 closed

[2022-09-09 13:06] runlevel-six opened #50 "Glance Upload Internal Server Error"
I pulled down the Glance changes made yesterday (Thursday, September 8), but when I use the container image tag referenced (`quay.io/vexxhost/glance:677c89c23631e9083261a1a18ed438d8966e0de2 `) I get a failure when attempting to upload a new OS image to Glance:

If I use the previous image (`us-docker.pkg.dev/vexxhost-infra/openstack/glance:22.1.1.dev2-1`), everything works fine.

I see this result

[2022-09-09 13:58] mnaser commented on #50
Good catch, let me have a look at this.

[2022-09-09 14:37] mnaser commented on #50
@runlevel-six thanks for the report, hopefully once we land #25 we'll be able to avoid all those things we haven't been catching.

I just tested and the image should have RADOS right now.

[2022-09-09 14:37] #50 closed

[2022-09-09 14:57] runlevel-six commented on #50
Tested successfully. Thanks!

[2022-09-14 14:48] guilhermesteinmuller opened #56 "ImageCopyFailure due to privesp issue"
When using a setup which cinder is a backend for glance, when trying to create vms from boot volumes, we get the following:

[code]

[2022-09-14 15:19] mnaser commented on #56
I think this might just need a documentation fix, working on it.

[2022-09-14 15:33] runlevel-six opened #57 "Nova issue found on containers in quay.io/vexxhost/nova"
When using `quay.io/vexxhost/nova` with any version tag alongside `quay.io/vexxhost/heat` using the matching version tag, I am seeing the following errors in  `deployment.apps/nova-novncproxy` (error found in the `nova-novncproxy-init-assets` init container):

[code]
If I swap Atmosphere to use `us-docker.pkg.dev/vexxhost-infra/openstack/nova:wallaby` alongside `us-docker.pkg.dev/vexxhost-infra/op

[2022-09-14 15:34] mnaser commented on #56
This is also related:

https://github.com/vexxhost/docker-openstack-cinder/pull/15/files

[2022-09-14 17:47] mnaser commented on #56
So far, I've got an updated image and docs which will allow you to successfully do this, however, in the context of using something like Powerstore, it would cost a lot of CPU usage.

I'm going to try forcing the cloud to use raw images instead.

[2022-09-14 17:49] mnaser commented on #56
Indeed, those issues are not present when using raw images because these problems are all happening when we have to mount/convert things.

I'll document this.

[2022-09-14 18:03] mnaser commented on #56
I think we just want to enforce use of `raw` images only in a cloud where PowerStore is in use so that the control plane doesn't end up hair pining all the downloads/conversions.   I've confirmed this:

[code]

I'm updating the documentation accordingly, however, now Nova is not happy:

[code]

We'll probably have to update image...

[2022-09-14 19:21] #56 closed

[2022-09-15 11:32] mnaser commented on #57
hi @runlevel-six -- we caught this earlier and it was fixed in here:

https://github.com/vexxhost/atmosphere/commit/5a4eb80f73307a3ccab30dd7aa329171cb08cabe

[2022-09-15 14:30] guilhermesteinmuller opened #59 "create docs on how to build custom images with packer"
Thats useful when users wants to ship their own images.

[2022-09-15 17:07] guilhermesteinmuller commented on #59
btw, im going to push up a PR shortly with a quick turorial

[2022-09-15 18:26] guilhermesteinmuller commented on #59
proposed here https://github.com/vexxhost/atmosphere/pull/60

[2022-09-20 13:13] runlevel-six opened #68 "Horizon image on Quay errors: wallaby, xena, and yoga tags affected"
When testing out the horizon image on `quay.io/vexxhost/horizon:yoga` I am seeing the following error occur which indicates that the version of mysql installed in that container image is not compatible. I see this error with the `yoga` tag.

Error reported in `yoga` tag:

[code]

In the `xena` and `wallaby` tags I get a different error:

[code]

The OpenStack Helm image `openstackhelm/horizon:xena

[2022-09-20 13:31] runlevel-six opened #69 "Error on initial neutron deployment when `openstack_helm_neutron_networks` is populated"
On an initial deployment of OpenStack in Atmosphere, if the `openstack_helm_neutron_networks` is left empty, then there is no problem finishing the deployment of the `openstack-helm-neutron` role and the `openstack` playbook continues on to deploy the rest of the stack.

But if `openstack_helm_neutron_networks` is populated, the playbook will fail because the neutron networks cannot be added until

[2022-09-21 13:53] mnaser commented on #69
@runlevel-six are you having this issue with a newer release of OpenStack or Wallaby?

I wonder because we actually use this inside the Molecule CI and we don't run into this:

https://github.com/vexxhost/atmosphere/blob/f3a14a308d1efc2094c00306ebd79267b44a8efa/playbooks/generate_workspace.yml#L266-L280

[2022-09-21 16:49] mnaser commented on #69
@runlevel-six can you share the exact error if you have it handy?  perhaps that might help us to research it

[2022-09-21 16:55] mnaser commented on #68
@runlevel-six I think that's two distinct issues here, let me check out the Xena and wallaby ones first since those are probably an easier fix.

[2022-09-21 16:58] mnaser commented on #68
It looks like that error is the integration of the `monasca-ui` component.  Pulling this commit in likely has broken it:

https://github.com/openstack/monasca-ui/commit/097d12aee254ab8bd89b87f3e7463a996e6813d9

[2022-09-21 17:10] mnaser commented on #68
alright, I think it's because we install those extra packages from `master` instead of having them constrained to the release of the image (i.e. `monasca-ui` from master with `horizon` from `stable/wallaby`).

I'll see what we can do about this.

[2022-09-21 18:37] runlevel-six commented on #69
The specific error is `msg": "ResourceNotFound: 404: Client Error for url: https://network-<fqdn>/v2.0/networks, AvailabilityZone nova could not be found."`

[code]

[2022-09-21 18:57] mnaser opened #72 "Fix `nova` chart readiness"
This could be related to #42 but it looks like the first request that comes in to `nova-api` sometimes returns a 503, so even when the deployment is ready, we get a 503.

It could also be that the ingress is not updated yet with the new endpoints, so that's another potential issue (probably more with the way we wait for deployment rather than service readiness)

[2022-09-21 19:03] mnaser commented on #69
@runlevel-six would it resolve your issue if we flip things around and deploy nova then neutron?  I haven't been able to successfully figure out _why_ this happens, but I think that might mitigate things while still making them work?

[2022-09-21 23:29] mnaser opened #79 "Stop using pins"
The pinning of the packages seems to have weird issues and not be enforced, it also breaks the upgrades for Kubernetes in a weird way.

The alternative is to hold packages instead.

[2022-09-22 00:39] runlevel-six commented on #69
@mnaser I re-deployed this fresh, this time with the openstack playbook changed to swap the order of the nova and neutron roles as you suggested. I left my release set to yoga. This time nova was deployed and reconciled as far as flux is concerned, but the `nova-compute-default` daemonset had not yet stabilized when the openstack deployed neutron next. Neutron deployed but I still received the sam

[2022-09-22 02:20] runlevel-six commented on #69
I am running this on bare-metal and it does run pretty fast. That could indeed be the cause.

[2022-09-26 20:17] mnaser opened #86 "Add automatic dependency bumps"
We've got a few things that need to be updated automatically:

- [ ] Packages for infrastructure services (Ceph, `containers`, Kuberentes)
- [ ] Images for services
- [ ] Versions for charts

We should probably use renovate to take care of this since I think we're going to be limited in our options with dependabot

[2022-09-27 15:52] okozachenko1203 opened #88 "Update doc"
I found that atmosphere includes `atmosphere` k8s operator as a role and introduced poetry as dependency manager.
Also in molecule, it uses `docker` and `ttl.sh` for atmosphere operator image build.
Those new changes require pre-requisites for end users. It should be reflected documentation.

[2022-09-27 18:05] runlevel-six commented on #69
Update: I've been leaving nova before neutron and have redeployed a few times without any errors when I run with the release set to `wallaby` (my prior update was still showing that error when deploying `yoga`).

[2022-09-28 09:49] okozachenko1203 commented on #88
- python 3.10
- poetry
- docker

[2022-09-28 18:26] mnaser commented on #69
@runlevel-six ok so I think then we can swap the ordering in that case

[2022-09-28 23:37] mnaser commented on #29
It looks like we're actually setting it to `16k` on the ingress level which makes it a bit useless

https://github.com/vexxhost/atmosphere/blob/main/atmosphere/tasks/constants.py#L25

[2022-09-28 23:37] #29 closed

[2022-10-03 18:34] runlevel-six opened #105 "Atmosphere Operator: optional deployment of ingress-nginx"
Our deployment of Atmosphere includes a slightly different architecture for Kubernetes, including a custom deployment of ingress-nginx, and one that uses metal-loadbalancer instead of keepalived. Prior to the move of ingress-nginx into the Atmosphere operator this was simple enough to manage, as we just commented out the deployment of keepalived and ingress-nginx in the openstack Ansible playbook.

[2022-10-03 19:39] thywyn opened #106 "Podman fallback for container build in molecule test"
Would like to have a fallback to podman for the operator build in the molecule test for those environments that do not use docker

[2022-10-04 23:15] mnaser commented on #106
@thywyn can you check if that branch works for you locally?

you don't have to run the whole molecule stack, you can just clone it and run `molecule dependency` and see how that goes.

Thanks

[2022-10-05 15:02] mnaser opened #110 "Add monitoring for Amphorae"
At the moment, if any Amphorae go into `ERROR` status, we don't actually alert for it.  However, it is possible that it would have a direct infrastructure impact on the load balancer if the amphorae is in an error state.

The nice thing is that the OpenStack exporter already implements this:

https://github.com/openstack-exporter/openstack-exporter/commit/d431ae6f552d91e1baaf45dd37888fb14bccb549

[2022-10-05 21:36] guilhermesteinmuller opened #111 "Implement rados gateway"

[2022-10-05 21:54] mnaser commented on #105
@runlevel-six can you checkout if that PR does initially what you're looking for?  you can feel free to test that branch while we wait for it to pass tests.

[2022-10-05 21:56] mnaser commented on #88
I think we should totally wrap this up by using Poetry only which is what I am aiming to do at the moment.

[2022-10-06 04:48] mnaser opened #114 "Migrate to local Harbor registry"
We're currently seeing issues with Quay.io and there's nothing we can do about it until it's fixed.  Dockerhub has impossible to work with limits.

We're going to migrate to Harbor hosted at @vexxhost for Atmosphere, I'll update the jobs shortly here..

[2022-10-06 18:33] #105 closed

[2022-10-06 18:33] mnaser commented on #114
seems like a transient issue and the quay team were really good at taking care of this (quay-sig ML got a quick response).

[2022-10-06 18:33] #114 closed

[2022-10-06 18:35] mnaser commented on #106
hrm, okay so I think a big part of this is the fact that we're using Buildkit to build those images (aka `docker buildx`) and I think Podman does not support these frontends at all, which means that we can't do a lot of the fancy stuff to allow building things more effectively.

I think we'll have to think about this a bit more, as its' not as straight forward.

[2022-10-07 02:56] mnaser opened #116 "Add automatic purge jobs for database"
In order to keep the databases nice and clean, it'll be good to run the manage scripts for keeping the database tidy.

[2022-10-07 03:07] mnaser commented on #105
I think the issue here is that this image is not the up to date/fixed one:

[code]

You'll have to build the image and upload it manually somewhere, or use `tty.sh` similar to how we use it in Molecule and point to it.  However, I'll cut the release shortly anyhow that includes this.

[2022-10-07 03:11] mnaser commented on #105
@runlevel-six just cut 0.5.0 off, so you should be able to point the collection to that and get the fixes in :)

FYI, you could totally use the overrides and have Atmosphere manage the ingress component for you, just with your own overrides, if that works for you.

[2022-10-07 03:56] thywyn commented on #106
one other thing is that the mount type "cache" is supported with podman 4.x+. You can get an installable package here: `wget http://ftp.us.debian.org/debian/pool/main/libp/libpod/podman_4.2.0+ds1-3_amd64.deb for 22.04`.  For 20.04, podman would have to be built from source.

[2022-10-07 04:19] mnaser commented on #106
I think the only way to successfully move forward with this would be to create a `Containerfile` and write some tests to keep them relatively in sync.

Podman is neat but it seems to be missing a fair bit of features such as Buildkit.  I don't know if we can do a whole lot about supporting the podman images out of the box.

If you have a functional `Containerfile` that can be used with Podman, cou

[2022-10-07 18:44] runlevel-six commented on #105
@mnaser this worked well for us. Thank you!

And you are right - this is something we are discussing. The customization on our end is mainly security focused, which would be easily adopted into the overrides available in Atmosphere. The only other change we make is running ingress-nginx in its own namespace which is not a Helm variable, if I remember right.

[2022-10-10 16:37] mnaser commented on #111
@guilhermesteinmuller I think what we're going to aim to do for this initially (to reduce the amount of work) is to start off by perhaps integrating the Rook operator and integrating it with an external cluster (the one we deploy).

With that in place, we're able to let Rook create pools and RGW instances on the existing cluster and avoid having to write all that managed code.

If you want to star

[2022-10-11 14:50] guilhermesteinmuller opened #123 "Check if br-ex has no ports"
There are some scenarios, like using vni interfaces on a ovs bridge which the ports and tags might vanish and cause public access issues to users.

We should check if br-ex has no ports and alert on that

[2022-10-11 19:02] mpiscaer opened #124 "download.cirros-cloud.net"
Can it be that download.cirros-cloud.net has a rate limit?

I got the following error:

failed: [ctl1] (item={'name': 'cirros', 'source_url': 'http://download.cirros-cloud.net/0.5.1/', 'image_file': 'cirros-0.5.1-x86_64-disk.img', 'min_disk': 1, 'disk_format': 'qcow2', 'container_format': 'bare', 'is_public': True}) => {"ansible_loop_var": "item", "changed": false, "dest": "/tmp/cirros-0.5.1-x86_6

[2022-10-13 14:23] runlevel-six opened #129 "Atmosphere-Operator CrashLoopBackOff issue"
The atmosphere operator is doing the work needed to ensure resources but ends up in a CrashLoopBackOff status regularly. In 3 days I have seen 636 restarts and the entire log looks as follows:

[code]

Now this could be due to something different in my environment, but I am not getting a lot of context from the logs so I am unsure if its due to something different on my end or something wrong with

[2022-10-13 16:04] mnaser commented on #129
@runlevel-six the logs are not great, but I think the issue here is that the helm release never transitioned to applied.

can you check all the helm releases and see if one is failed?

[code]

[2022-10-13 16:37] runlevel-six commented on #129
@mnaser you are right. I didn't realize that node-feature-discovery had been pulled into the operator - we deploy that separately so I suspect that is why the HelmRelease is failing.

Just curious, in the same manner that you did ingress-nginx, would it be feasible to make any of the non-OpenStack components installed by the operator flagged to be skipped (or with overrides if we use it but have a

[2022-10-13 17:21] mnaser commented on #129
@runlevel-six we should be able to do that moving forward, but I think we hadn't gotten around going back to the existing tools.

I'll try to find sometime to flip all of the components to be configurable

[2022-10-13 17:32] mnaser commented on #124
It looks like it's currently hosted at DreamHost, I think they may have hit their bandwidth limit but it looks like it's working again now.

is this a transient issue or always happening?  I think the only way around this is to setup our own private mirror to avoid those CI failures.

[2022-10-13 17:53] guilhermesteinmuller commented on #111
i kicked off a draft here https://github.com/vexxhost/atmosphere/pull/131 but this is still wip

[2022-10-13 18:16] mpiscaer commented on #124
Till now it was a one timer.

[2022-10-14 12:52] runlevel-six commented on #124
I have had this happen a few times as well. After it happened a few times I manually downloaded the image and just upload it myself to Glance after the Openstack playbook completed (thus I leave the `openstack_helm_glance_images` Ansible variable empty instead of having it go get this image direct).

[2022-10-14 16:01] ricolin commented on #8
okay stable branch merged https://review.opendev.org/c/openstack/magnum/+/854136
thanks @mnaser

[2022-10-14 16:03] ricolin commented on #8
I guess we can close this now.

[2022-10-16 21:34] mnaser opened #133 "Allow for using `auto_bridge_add` with VLANs"
It's possible that a user is adding a tagged VLAN into the `br-ex` port, it's a terrible idea but it is possibly something that was there from an old use-case.

We need to support that, right now it needs to be manually set after the fact and in system reboots, etc, it doesn't survive.

[2022-10-17 12:56] guilhermesteinmuller opened #136 "Add support for pmem"
To support pmem, compute hosts should have `ndctl` package included.

More details: https://docs.openstack.org/nova/latest/admin/virtual-persistent-memory.html

[2022-10-26 21:14] mnaser commented on #136
@guilhermesteinmuller https://github.com/vexxhost/atmosphere/commit/69f67fe697b84bef8c3b6edbb8bbe9dba48e7b9d should add `ndctl` to the images, on the next sync (in a few hours), it should publish a brand new nova image and I'll share here when that's done.

[2022-10-26 21:17] mnaser commented on #8
@ricolin indeed, this can be closed, but also with magnum-cluster-api, we're leveraging appcreds instead which should be much neater.

[2022-10-26 21:17] #8 closed

[2022-10-27 13:40] mnaser commented on #136
@guilhermesteinmuller https://github.com/vexxhost/docker-openstack-nova/pull/13 merged so the following image should have `ndctl`:

[code]

perhaps you can try using that image and see if it works?

[2022-10-28 08:12] mpiscaer opened #151 "Nova fails when running Atmosphere in dev env."
When running the converge Nova fails.

nova-db-sync-s5qh8 takes longer then 6 minutes to complete.

After it completes, I view the logs of nova-api-osapi-7bdddd9c49-tt4w8:

So nova-rabbit-init is missing and it never comes up. The only workaround what I found is doing a `helm -n openstack uninstall nova` and then rerun the playbook.

But this is not a option in my CI process.

Kind regards,

Michi

[2022-10-28 13:27] mnaser commented on #151
It looks like it's taking way more than 10 minutes to run your Nova deployment... that seems odd.

Can you check what is the output of the following?

[code]

[2022-10-28 14:37] mpiscaer commented on #151
root@ctl1:~# kubectl -n openstack get helmrelease
NAME                        AGE     READY   STATUS
barbican                    19m     True    Release reconciliation succeeded
ceph-provisioners           19m     True    Release reconciliation succeeded
cinder                      7m39s   True    Release reconciliation succeeded
glance                      19m     True    Release reconciliation s

[2022-10-28 15:16] mpiscaer commented on #151
I did a ceph benchmark, but I don't know what to think about it. This runs ceph on ceph on nvme.

Average IOPS: 35 does not sounds alot.

ceph osd pool create scbench 128 128

root@ctl1:~# rados bench -p scbench 10 write --no-cleanup
hints = 1
Maintaining 16 concurrent writes of 4194304 bytes to objects of size 4194304 for up to 10 seconds or 0 objects
Object prefix: benchmark_data_ctl1_330449
  s

[2022-10-28 15:24] mpiscaer commented on #151
[helmrelease-nova.txt](https://github.com/vexxhost/atmosphere/files/9889770/helmrelease-nova.txt)

kubectl -n openstack describe helmrelease nova

[2022-11-02 19:43] mnaser commented on #68
trying this here:

https://github.com/vexxhost/atmosphere/commit/7f45988ebf9db38463b9e91808b498cc9072e86f

[2022-11-04 17:41] mnaser commented on #124
we're moving this into our block storage to avoid this issue.

[2022-11-04 20:06] mnaser commented on #124
closed by https://github.com/vexxhost/atmosphere/pull/158

[2022-11-04 20:06] #124 closed

[2022-11-04 20:33] runlevel-six opened #159 "Atmosphere Operator: optional deployment of cert-manager & node-feature-discovery"
Our deployment of Atmosphere includes a slightly different architecture for Kubernetes, including a custom deployment of cert-manager and node-feature-discovery. Like with ingress-nginx, please add a flag to the Atmosphere Operator that makes these optional deployments.

With node-feature-discovery, the current version of Atmosphere just results in a failed deployment and something that causes Atm

[2022-11-04 20:40] runlevel-six commented on #129
Closing since the answer was determined, and https://github.com/vexxhost/atmosphere/issues/159 opened with a request for the new feature that would resolve this.

[2022-11-04 20:40] #129 closed

[2022-11-04 23:10] guilhermesteinmuller commented on #124
hey guys, so I'm closing this based on https://github.com/vexxhost/atmosphere/commit/2edc65ce0cdb8e4de4432729d3762afbb812cd0c so we won't get any retry limits so far since it's hosted in Vexxhost's object storage.

[2022-11-09 13:48] guilhermesteinmuller opened #163 "Enable db backups with percona xtradb operator"

[2022-11-10 06:41] okozachenko1203 opened #165 "Set worker numbers intelligently based on the node spec"
At the moment, we are using a fixed number of workers for each Openstack service, and this is not perfect.
Cloud resources vary all the time, so we really need to adapt and automatically detect the number of workers based on the node size.
There are several formulas out there to determine the optimal number of workers. TripleO (Red Hat) is one of the most popular projects for deploying OpenStack a

[2022-11-10 17:12] mnaser commented on #136
`pmem` support has been added, just needs to be documented.

[2022-11-11 16:37] mnaser opened #167 "Add Open vSwitch image builds"
We should probably use the images by the Anthea project.

https://hub.docker.com/r/antrea/openvswitch/tags
https://github.com/antrea-io/antrea/tree/main/build/images/ovs

[2022-11-11 21:43] mnaser commented on #167
working on using the images here:

https://github.com/vexxhost/atmosphere/pull/168

but had to manually copy the images to quay.io, we are also lacking images for arm64.

[2022-11-11 22:11] guilhermesteinmuller opened #169 "ovs-vswitchd: pthread_create failed (Resource temporarily unavailable)"
This occasionally happens when we have the following missing on systemd configs: DefaultLimitMEMLOCK=infinity -- this happend when upgrading ovs  https://github.com/vexxhost/atmosphere/pull/168

This is a workaround for now, but we gotta make sure systems have it in place:

[code]

[2022-11-12 15:50] #169 closed

[2022-11-12 17:10] mnaser opened #171 "Remove policy from OpenStack Helm charts"
There is a big majority of OpenStack Helm charts that still have hard-coded policy, this is no longer needed and it causes unnecessary log messages.

[2022-11-14 14:40] #13 closed

[2022-11-15 12:54] mpiscaer opened #173 "openvswitch error"
I try out the new atmosphere but on the openvswitch I use the following image: [cgm-quay.docker.artifactory.cgm.ag/vexxhost/openvswitch:2.17.0](http://cgm-quay.docker.artifactory.cgm.ag/vexxhost/openvswitch:2.17.0) But I get the following error:

root@ctl1:~# kubectl -n openstack logs pod/openvswitch-gcbj9 openvswitch-db-perms
chown: cannot access ‘/run/openvswitch’: No such file or directory

[2022-11-15 15:59] thywyn opened #174 "openvswitch deployment error"
Yesterday pulled most recent version of master and I am having issues with the openvswitch deployment:
`$ kubectl logs openvswitch-847h8 -n openstack -c init
Entrypoint ERROR: 2022/11/15 15:36:23 customresource.go:37: Unable to unmarshal variable DEPENDENCY_CUSTOM_RESOURCE with value : unexpected end of JSON input
Entrypoint WARNING: 2022/11/15 15:36:23 kubernetes-entrypoint.go:34: COMMAND env is

[2022-11-15 16:15] mnaser commented on #174
this seems to be a duplicate of https://github.com/vexxhost/atmosphere/issues/174

[2022-11-15 16:15] #174 closed

[2022-11-15 16:15] mnaser commented on #173
updating this as critical as it seems to affect more than one user

[2022-11-15 19:29] mnaser commented on #173
@mpiscaer can you checkout https://github.com/vexxhost/atmosphere/pull/175 ?

[2022-11-15 20:03] thywyn commented on #173
Also looks like neutron-ovs-agent doesn't come up on a new builld because the new combined pods don't have the label of 'component: openvswitch-vswitchd' only the label 'component=server'.
`$ kubectl logs -n openstack neutron-ovs-agent-default-xhwgz -c init
...
Entrypoint WARNING: 2022/11/15 19:44:24 entrypoint.go:72: Resolving dependency Pod on same host with labels map[application:openvswitch co

[2022-11-15 20:09] mpiscaer commented on #173
@thywyn Did you also checked #175 that solved that issue.

For now I only have the following issue left:

kubectl -n openstack describe pod/keepalived-8mw9c
....
Failed to pull image "cgm-quay.docker.artifactory.cgm.ag/vexxhost/keepalived:2.0.19": rpc error: code = NotFound desc = failed to pull and unpack image "cgm-quay.docker.artifactory.cgm.ag/vexxhost/keepalived:2.0.19": failed to resolve ref

[2022-11-15 20:33] mpiscaer opened #176 "For the variable atmosphere_image_repository does not have the same default value"
For the variable atmosphere_image_repository does not have the same default value at all the roles.

[2022-11-15 20:45] thywyn commented on #173
Yep, just did it does not crash loop anymore, but the neuron-ovs-agent pod is still expecting the "component:openvswitch-vswitchd-db" label and the daemonset for openvswitch is assigning "component:server"

[2022-11-15 20:53] thywyn commented on #173
Here's the culprit in openvswitch: https://github.com/vexxhost/openstack-helm-infra/blob/24726dffd6f1e5ac91620e92e04a782cb94340e8/openvswitch/templates/daemonset.yaml#L76

here's where openstack-helm/neutron is looking for the 2 labels:
https://opendev.org/openstack/openstack-helm/src/commit/3bc81054b0918678c5932663ea72821621280d5c/neutron/values.yaml#L285
I think it would complain about no openvs

[2022-11-15 21:22] thywyn commented on #173
Ah, I see you've changed the repo to the vexxhost one.. don't know why my deploy didn't use that.. I'll look into that

[2022-11-15 21:44] #173 closed

[2022-11-16 01:56] mnaser opened #177 "Add support for RBD persistent write-back cache"

[2022-11-16 13:35] mpiscaer opened #179 "Haproxy for k8s, hit rate limit"
When installing k8s I hit the dockerhub ratelimit. "429 Too Many Requests - Server message: toomanyrequests: You have reached your pull rate limit."

https://github.com/vexxhost/atmosphere/blob/main/roles/kubernetes/files/haproxy.yaml#L8 is using dockerhub for haproxy. This needs or configurable or a diffrent repository that don't have the ratelimit.

In the current network too many users are usin

[2022-11-16 14:28] mnaser opened #180 "Create `libvirt` images based on UCA"

[2022-11-16 14:29] mnaser opened #181 "Create documentation on how to enable persistent write-cache"

[2022-11-16 16:06] thywyn commented on #106
Closing this issue since it is a nice to have and cannot spend time on this as needed.  Thanks for the input back.. I have it in my own backlog to follow-up on this

[2022-11-16 16:06] #106 closed

[2022-11-16 17:08] mnaser commented on #180
Work in progress here: https://github.com/vexxhost/docker-libvirtd

[2022-11-16 17:16] mpiscaer opened #182 "Certificates"
I hope that someone can help me with this, I think I have a issue with certs.

In my dev env is use the following config
cert_manager_acme_server: https://stepca.ADDRESS.TLD/acme/acme/directory
atmosphere_issuer_config:
  email: EMAIL@ADDRESS.nl
  server: "{{ cert_manager_acme_server }}"

This works fine without any problem.

On the fieldtest server, since the new release the tasks fails:
[code]

[2022-11-16 17:36] mnaser commented on #180
the images are built

[2022-11-16 17:36] #180 closed

[2022-11-16 17:40] mnaser commented on #182
@mpiscaer is it possible that the image you're running is not up to date?

I think we've got an issue here where we need to restart the operator once we make changes to the config.  we're not actually creating an issuer anymore but we're creating a cluster issuer at this point.

[2022-11-16 17:57] mpiscaer commented on #182
I did a reinstall this morning of this cluster.

    Container ID:   containerd://b2c31f1d26e0aee603fd0b58fc8f34c61f8120aec750a6f4781db507531fdeab
    Image:          quay.io/vexxhost/atmosphere:0.6.1
    Image ID:       quay.io/vexxhost/atmosphere@sha256:be9c0209a2b7c07cf1d4704dc166e8a1edf9633c3fde7f41d5f1a5988c2c4790

[2022-11-16 18:46] thywyn opened #183 "Vanilla atmosphere issues with issuers"
We've been using our own deployment of cert-manager but I wanted to try the atmosphere deployment.  So with a pure atmosphere deploy on 3 bare-metal nodes, I get the following atmosphere-operator error with 0.7.0 of master:
`taskflow.exceptions.WrappedFailure: WrappedFailure: [Failure: pykube.exceptions.HTTPError: issuers.cert-manager.io "openstack" is forbidden: User "system:serviceaccount:openst

[2022-11-16 18:57] thywyn commented on #183
Duplicate of #182

[2022-11-16 19:04] mpiscaer commented on #182
When I use a fresh build of the Atmosphere that is build by molecule is looks like it works beter.

[2022-11-16 19:07] thywyn commented on #182
Molecule builds tmp image on ttl.  On the nodes themselves I get this error:
`sudo crictl pull quay.io/vexxhost/atmosphere:0.7.0
E1116 19:05:40.254578   97424 remote_image.go:238] "PullImage from image service failed" err="rpc error: code = NotFound desc = failed to pull and unpack image \"quay.io/vexxhost/atmosphere:0.7.0\": failed to resolve reference \"quay.io/vexxhost/atmosphere:0.7.0\": quay.

[2022-11-16 19:15] mpiscaer commented on #182
When I was testing it is was still 0.6.1. I can imagine that 7.0.0 not yet build / uploaded yet.

[2022-11-16 19:21] thywyn commented on #182
my role default is 0.7.0 here:
https://github.com/vexxhost/atmosphere/blob/c085b37ae25a8fa19d0410423ae50e387b45278a/roles/atmosphere/defaults/main.yml#L1

[2022-11-16 19:24] mnaser opened #184 "Look into support RockyLinux as a base operating system"

[2022-11-16 19:58] mpiscaer commented on #182
I also don't see the 0.7.0. in the list of images https://quay.io/repository/vexxhost/atmosphere?tab=tags&tag=latest @mnaser or @guilhermesteinmuller can you clarify?

[2022-11-17 05:07] #183 closed

[2022-11-17 10:58] fnpanic commented on #165
This is a good Approach from my point of view. Thinking about using the HPA can also be a considered.

[2022-11-17 15:18] thywyn commented on #182
built 0.7.0 image locally and uploaded to internal image repo.. pointing 'atmosphere_image' variable to that location and stuff is working

[2022-11-17 17:16] mnaser commented on #182
sorry, we built the 0.7.0 image and it's working well now.

[2022-11-17 17:16] #182 closed

[2022-11-18 13:49] mpiscaer opened #186 "When running only openstack playbook, no facts gathered"
When only running vexxhost.atmosphere.openstack no "Gathering Facts" gets done, this results that task [Set binding for ports](https://github.com/vexxhost/atmosphere/blob/main/roles/openstack_helm_octavia/tasks/main.yml#L68-L76) fails with the error that "has no attribute 'ansible_fqdn'".

[2022-11-18 14:22] mnaser commented on #186
ahh, this was done to prevent unnecessary work to be done.  I've got an idea how we can work around this.

[2022-11-21 21:47] mnaser commented on #88
this is already done

[2022-11-21 21:47] #88 closed

[2022-11-21 21:49] mnaser commented on #114
test

[2022-11-22 23:20] ricolin commented on #171
review link: https://review.opendev.org/c/openstack/openstack-helm/+/865347

[2022-11-23 18:16] runlevel-six commented on #186
We've run into this as well - we get around it by changing `gather_facts` to true on the call to the flux role:

[code]

It is only there until a better solution is available and I chose that role because it gathers facts for all of the controllers which are needed for the port binding you mention.

[2022-11-23 18:19] thywyn commented on #159
It seems like the rabbitmq operator and the ApplyCertificateTask require atmosphere's helm release of cert-manager instead of requiring a designated valid clusterissuer in the cluster.  Putting in a config values of "clusterissuername" or something, then making cert-manager enabled would resolve this.. Working through a PR for this..

[2022-11-23 18:49] mpiscaer commented on #186
My workaround is have my own site playbook with the following content:

[code]

This gives the flexibility to add extra tasks/playbooks later without changing the Atmosphere code

[2022-11-24 05:52] mnaser commented on #179
We're working on a major effort to have an internal registry to the deployment... will keep you updated

[2022-11-24 10:06] mpiscaer commented on #179
This haproxy is deployed at the moment k8s get installed.